<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    &lt;!&ndash; Define properties &ndash;&gt;-->
<!--    <property name="LOG_PATH" value="logs"/>-->
<!--    <property name="LOG_FILE" value="${LOG_PATH}/app.log"/>-->

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/book_app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/book_app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

<!--    &lt;!&ndash; Logger for Spring Boot &ndash;&gt;-->
<!--    <logger name="org.springframework" level="INFO"/>-->

<!--    &lt;!&ndash; Custom package logging &ndash;&gt;-->
<!--    <logger name="com.example" level="DEBUG"/>-->

</configuration>
